body {
    border: 2px solid black;
    background: transparent;

}

.footer {
    display: grid;
    grid-column: auto;
    color: white;
    align-items: center;
}

p {
    text-align: center;
    padding-top: 40px;
    padding-block-end: 12px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.4;
}