<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <strong>LISTA DE REPRODUCCIÓN </strong>


    <div class="container">
        <div class="song">
            <div> <img src="/assets/images/journey.jpg/">

            </div>
        </div>
        <div class="album">

            <p>Open arms</p>
            <h2>Journey</h2>
            <audio controls="controls">
                <source src="/assets/audio/Open_arms.mp3" type="audio/mp3" />
            </audio>
        </div>
        <div class="song">
            <div> <img src="/assets/images/cure.jpg/">

            </div>
        </div>
        <div class="album">

            <p>Lullaby</p>
            <h2>The Cure</h2>
            <audio controls="controls">
                <source src="/assets/audio/Lullaby.mp3" type="audio/mp3" />
            </audio>
        </div>
        <div class="song">
            <div> <img src="/assets/images/aerosmith.jpg/">

            </div>
        </div>
        <div class="album">

            <p>Cryin'</p>
            <h2>Aerosmith</h2>
            <audio controls="controls">
                <source src="/assets/audio/Cryin.mp3" type="audio/mp3" />
            </audio>
        </div>


    </div>
</body>

</html>