<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

        <div class="nav-a">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="https://bit.institute/">YOUTUBE BIT</a></li>
                    <li><a href="https://bit.institute/">PAGE BIT</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </div>

    <div class="container">




        <div class="mySlides">
            <ul class="slider">
                <li id="slide1"><img class="demo cursor" src="assets/images/img1.jpg"></li>
                <li id="slide2"><img class="demo cursor" src="assets/images/img2.jpg"></li>
                <li id="slide3"><img class="demo cursor" src="assets/images/img3.jpg"></li>
                <li id="slide4"><img class="demo cursor" src="assets/images/img4.jpg"></li>             
            </ul>
        </div>


        <nav>
            <ul class="menu">
                <li><a href="#slide1"><img src="assets/images/img1.jpg"></a></li>
                <li><a href="#slide2"><img src="assets/images/img2.jpg"></a></li>
                <li><a href="#slide3"><img src="assets/images/img3.jpg"></a></li>
                <li><a href="#slide4"><img src="assets/images/img4.jpg"></a></li>
              
            </ul>
        </nav>
    </div>



</body>

</html>