<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
</head>

<body>
      <div class="container">
            <article class="card">
                  <div class="tittle">
                        <p>Aprende programación</p>
                  </div>

                  <div class="logo">
                        <p>BIT</p>
                  </div>
                  
                  <div class="buttom"> <a href="https://bit.institute/">IR A BIT</a></div>
            </article>

      </div>
</body>

</html>